body {
    background-image: url("../images/rickmortygarage2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
h1 {
    margin: auto;
    color: #7cfbfa;
    text-align: center;
}

a {
    color: #7cfbfa;
    text-align: left;
}

h2 {
    text-align: left;
}

h5 {
    color: #e8e769;
    text-align: left;

}

p {
    color: #ed108d;
    text-align: left;
}

