

body {
    background-image: url("../images/ricklantis2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
h1 {
    margin: auto;
    color: #7cfbfa;
    text-align: center;
}

.container {
    height: 45%;
    width: 45%;
}

label {
    color: #7cfbfa;
}

#sbumitForLogin {
    color: #fff874;
    font-size: 17px;
    font-weight: bolder;
    /*width: 50%;*/
    text-align: center;
}

.btn-custom {
    background-color: #7cfbfa;
}





