

body {
    background-image: url("../images/ricklantis2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
h1 {
    margin: auto;
    color: #588a93;
    text-align: center;
}

.container {
    height: 45%;
    width: 45%;
}

label {
    color: #588a93;
}

#sbumitForLogin {
    color:  #588a93;
}

.btn-custom {
    background-color: #fff386;
}


